{% extends 'base.html' %}
{% block title %}Signup{% endblock title %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="side-p">
            <form id="user-reg-form" action="." method="post">
                {% csrf_token %}
                {# Username & Password Section #}
                <h3>Signup for a $15 Monthly Subscription</h3>
                <h5 class="sn-sh">CREATE A USERNAME AND PASSWORD</h5>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>{{ form.username.label }}</th>
                            <th>{{ form.email.label }}</th>
                        </tr>
                        <tr>
                            <td>{{ form.username }}</td>
                            <td>{{ form.email }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.username.errors }}</td>
                            <td>{{ form.email.errors }}</td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <th>Confirm Password</th>
                        </tr>
                        <tr>
                            <td>{{ form.password1 }}</td>
                            <td>{{ form.password2 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password1.errors }}</td>
                            <td>{{ form.password2.errors }}</td>
                        </tr>
                    </tbody>
                </table>
                {# Billing Address Section #}
                <h5 class="sn-sh">YOUR BILLING ADDRESS</h5>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>{{ form.first_name.label }}</th>
                            <th>{{ form.last_name.label }}</th>
                        </tr>
                        <tr>
                            <td>{{ form.first_name }}</td>
                            <td>{{ form.last_name }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.first_name.errors }}</td>
                            <td>{{ form.last_name.errors }}</td>
                        </tr>
                        <tr>
                            <th>{{ form.address_one.label }}</th>
                            <th>{{ form.address_two.label }}</th>
                        </tr>
                        <tr>
                            <td>{{ form.address_one }}</td>
                            <td>{{ form.address_two }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.address_one.errors }}</td>
                            <td>{{ form.address_two.errrors }}</td>
                        </tr>
                        <tr>
                            <th>{{ form.city.label }}</th>
                            <th>{{ form.state.label }}</th>
                        </tr>
                        <tr>
                            <td>{{ form.city }}</td>
                            <td>{{ form.state }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.city.errors }}</td>
                            <td>{{ form.state.errors }}</td>
                        </tr>
                    </tbody>
                </table>
                <input class="btn btn-primary" type="submit" value="submit">
            </form>
            {# Credit Card Section #}
        </div>
    </div>
{% endblock content %}
